<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cqesolutions.idnieflut">

    <application>
        <activity
            android:name=".activities.FirmaDNIe"
            android:theme="@style/Theme.Android"
            android:exported="false" />
        <activity
            android:name=".activities.ConsultaPasaporte"
            android:theme="@style/Theme.Android"
            android:exported="false" />
        <activity
            android:name=".activities.ConsultaPasaporteCAN"
            android:theme="@style/Theme.Android"
            android:exported="false" />
        <activity
            android:name=".activities.ConsultaDNIe"
            android:theme="@style/Theme.Android"
            android:exported="false" />
    </application>

</manifest>